GUI/Connected Services/WsSistemaBancario/SistemaBancario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50786/SistemaBancario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelos.Modelos" />
  <xs:element name="CobroCheque_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aCobroCheque" nillable="true" type="q1:CobroChequesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CobroCheque_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aCobroCheque" nillable="true" type="q2:CobroChequesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CobroCheque_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Cheque" type="xs:int" />
        <xs:element minOccurs="0" name="aID_Movimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CobroCheque_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Cheque" type="xs:int" />
        <xs:element minOccurs="0" name="aID_Movimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="CobroCheque_ObtenerUnoResult" nillable="true" type="q3:CobroChequesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CobroCheque_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="CobroCheque_ObtenerTodosResult" nillable="true" type="q4:ArrayOfCobroChequesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aEmpresaModel" nillable="true" type="q5:EmpresaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aEmpresaModel" nillable="true" type="q6:EmpresaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_EmpresaModel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_EmpresaModel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Empresa_ObtenerUnoResult" nillable="true" type="q7:EmpresaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Empresa_ObtenerTodosResult" nillable="true" type="q8:ArrayOfEmpresaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aPagoServicios" nillable="true" type="q9:PagoServiciosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PagoServicio_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aPagoServicios" nillable="true" type="q10:PagoServiciosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PagoServicio_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aNro_Contrato" type="xs:int" />
        <xs:element minOccurs="0" name="aID_Movimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PagoServicio_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aNro_Contrato" type="xs:int" />
        <xs:element minOccurs="0" name="aID_Movimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="PagoServicio_ObtenerUnoResult" nillable="true" type="q11:PagoServiciosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoServicio_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="PagoServicio_ObtenerTodosResult" nillable="true" type="q12:ArrayOfPagoServiciosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aRecaudos" nillable="true" type="q13:RecaudosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Recaudos_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aRecaudos" nillable="true" type="q14:RecaudosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Recaudos_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aNro_Contrato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Recaudos_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aNro_Contrato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Recaudos_ObtenerUnoResult" nillable="true" type="q15:RecaudosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Recaudos_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Recaudos_ObtenerTodosResult" nillable="true" type="q16:ArrayOfRecaudosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aMovimientoVentanilla" nillable="true" type="q17:MovimientosVentanillaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoMovimiento_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aMovimientoVentanilla" nillable="true" type="q18:MovimientosVentanillaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoMovimiento_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Movimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoMovimiento_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Movimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="TipoMovimiento_ObtenerUnoResult" nillable="true" type="q19:MovimientosVentanillaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMovimiento_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="TipoMovimiento_ObtenerTodosResult" nillable="true" type="q20:ArrayOfMovimientosVentanillaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aVentanilla" nillable="true" type="q21:VentanillaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ventanilla_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aVentanilla" nillable="true" type="q22:VentanillaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ventanilla_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_VentanillaModel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ventanilla_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_VentanillaModel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Ventanilla_ObtenerUnoResult" nillable="true" type="q23:VentanillaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ventanilla_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Ventanilla_ObtenerTodosResult" nillable="true" type="q24:ArrayOfVentanillaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aBanco" nillable="true" type="q25:BancoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Banco_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aBanco" nillable="true" type="q26:BancoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Banco_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Banco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Banco_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Banco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Banco_ObtenerUnoResult" nillable="true" type="q27:BancoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Banco_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Banco_ObtenerTodosResult" nillable="true" type="q28:ArrayOfBancoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aComponente" nillable="true" type="q29:ComponenteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Componente_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aComponente" nillable="true" type="q30:ComponenteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Componente_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Componente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Componente_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Componente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Componente_ObtenerUnoResult" nillable="true" type="q31:ComponenteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Componente_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Componente_ObtenerTodosResult" nillable="true" type="q32:ArrayOfComponenteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aHorariosAtencion" nillable="true" type="q33:HorariosAtencionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HorariosAtencion_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aHorariosAtencion" nillable="true" type="q34:HorariosAtencionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HorariosAtencion_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_HorariosAtencion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HorariosAtencion_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_HorariosAtencion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="HorariosAtencion_ObtenerUnoResult" nillable="true" type="q35:HorariosAtencionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HorariosAtencion_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="HorariosAtencion_ObtenerTodosResult" nillable="true" type="q36:ArrayOfHorariosAtencionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aPermisosUsuario" nillable="true" type="q37:PermisosUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PermisosUsuario_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aPermisosUsuario" nillable="true" type="q38:PermisosUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PermisosUsuario_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_PermisosUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PermisosUsuario_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_PermisosUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="PermisosUsuario_ObtenerUnoResult" nillable="true" type="q39:PermisosUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisosUsuario_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="PermisosUsuario_ObtenerTodosResult" nillable="true" type="q40:ArrayOfPermisosUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aPersona" nillable="true" type="q41:PersonaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Persona_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aPersona" nillable="true" type="q42:PersonaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Persona_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Persona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Persona_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Persona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Persona_ObtenerUnoResult" nillable="true" type="q43:PersonaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Persona_ObtenerTodosResult" nillable="true" type="q44:ArrayOfPersonaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aContrase単a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Persona_ValidarUsuarioResult" nillable="true" type="q45:PersonaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_CambiarContrase単a">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aNewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_CambiarContrase単aResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Persona_CambiarContrase単aResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Persona_ObtenerSucursalResult" nillable="true" type="q46:SucursalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aRoles" nillable="true" type="q47:RolesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Roles_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aRoles" nillable="true" type="q48:RolesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Roles_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Roles" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Roles_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Roles" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Roles_ObtenerUnoResult" nillable="true" type="q49:RolesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Roles_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Roles_ObtenerTodosResult" nillable="true" type="q50:ArrayOfRolesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aRolUsuario" nillable="true" type="q51:RolUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RolUsuario_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aRolUsuario" nillable="true" type="q52:RolUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RolUsuario_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_RolUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RolUsuario_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_RolUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="RolUsuario_ObtenerUnoResult" nillable="true" type="q53:RolUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RolUsuario_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="RolUsuario_ObtenerTodosResult" nillable="true" type="q54:ArrayOfRolUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aSucursal" nillable="true" type="q55:SucursalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sucursal_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aSucursal" nillable="true" type="q56:SucursalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sucursal_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Sucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sucursal_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Sucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Sucursal_ObtenerUnoResult" nillable="true" type="q57:SucursalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Sucursal_ObtenerTodosResult" nillable="true" type="q58:ArrayOfSucursalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aTipoDocumento" nillable="true" type="q59:TipoDocumentoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoDocumento_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aTipoDocumento" nillable="true" type="q60:TipoDocumentoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoDocumento_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_TipoDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoDocumento_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_TipoDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="TipoDocumento_ObtenerUnoResult" nillable="true" type="q61:TipoDocumentoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumento_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="TipoDocumento_ObtenerTodosResult" nillable="true" type="q62:ArrayOfTipoDocumentoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aTurnos" nillable="true" type="q63:TurnosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Turnos_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aTurnos" nillable="true" type="q64:TurnosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Turnos_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Turnos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Turnos_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_Turnos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Turnos_ObtenerUnoResult" nillable="true" type="q65:TurnosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Turnos_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="Turnos_ObtenerTodosResult" nillable="true" type="q66:ArrayOfTurnosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aTurnoUsuario" nillable="true" type="q67:TurnoUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TurnoUsuario_CrearResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="aTurnoUsuario" nillable="true" type="q68:TurnoUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TurnoUsuario_EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_TurnoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TurnoUsuario_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID_TurnoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="TurnoUsuario_ObtenerUnoResult" nillable="true" type="q69:TurnoUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoUsuario_ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Modelos.Modelos" minOccurs="0" name="TurnoUsuario_ObtenerTodosResult" nillable="true" type="q70:ArrayOfTurnoUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>